/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
body{
    color:white;
    background-color: black;
    margin:0;
    padding:0;
}
button{
    background-color: red;
}
a{
    color:white;
    text-decoration: none;
}